    body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
        }

        .container {
            background: white;
            padding: 20px;
            margin: 50px auto;
            width: 300px;
            border-radius: 10px;
        }

        img {
            width: 120px;
            height: 120px;
            border-radius: 50%;
        }

        h3 {
            margin: 6px;
        }

        p {
            color: gray;
        }